* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	margin: 0;
	padding: 0;
}

#keygen-board {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100vh;
	background-color: black;
}

/* 8888888888888888888888888888888888888888888888888888888888888888 */

#main-panel {
	display: flex;
	flex: 1;
	position: relative;
	align-items: stretch;
	background-color: yellow;
	margin: 14px;
	margin-bottom: 7px;
	padding: 10px 30px;
	font-weight: bold;
	font-size: xx-large;
	position: relative;
}

/* 8888888888888888888888888888888888888888888888888888888888888888 */

#info-panel {
	display: flex;
	flex: 1;
	position: relative;
	align-items: center;
	align-items: stretch;
	justify-content: center;
}

#k-code, #k-key, #k-which {
	flex: 1;
	overflow: auto;
	margin: 14px;
	margin-top: 7px;
	padding: 10px 30px;
	background-color: aquamarine;
	font-weight: bold;
}